<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Templates</title>
</head>
<body>

    <nav class="navbar">
        <div class="logo">
            <img src="../static/images/dg-logo.png" alt="Logo" onclick="goTo('/')">
        </div>
        <div class="menu">
            <div class="menu-option">
                <img src="../static/images/dg-forum.png" alt="Forum" onclick="goTo('/forum')">
            </div>
            <div class="menu-option">
                <img src="../static/images/dg-settings.png" alt="Settings" onclick="goTo('/settings')">
            </div>
            <div class="menu-option">
                <img src="../static/images/dg-connect.png" alt="Connexion" onclick="goTo('/connect')">
            </div>
        </div>
    </nav>



    <div class="body">

    </div>



    <script src="../static/js/main.js"></script>
</body>
</html>