<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/error/404.css" />
    <title>⚠️ Erreur 404</title>
  </head>
  <body>
    <div class="mars"></div>
    <img src="https://assets.codepen.io/1538474/404.svg" class="logo-404" />
    <img src="https://assets.codepen.io/1538474/meteor.svg" class="meteor" />
    <p class="title">Ooops!!</p>
    <p class="subtitle">
      Vous avez soit mal écrit le lien de la page, <br />
      soit la page a été supprimée.
    </p>
    <div align="center">
      <a class="btn-back" href="/">Retour à l'accueil</a>
    </div>
    <img
      src="https://assets.codepen.io/1538474/astronaut.svg"
      class="astronaut"
    />
    <img
      src="https://assets.codepen.io/1538474/spaceship.svg"
      class="spaceship"
    />
  </body>
</html>
