<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/error/404.css" />
    <title>⚠️ Insrciption</title>
  </head>
  <body>
    <div class="mars"></div>
    <img src="https://assets.codepen.io/1538474/meteor.svg" class="meteor" />
    <p class="title">Erreur lors de l'inscription!!</p>
    <p class="subtitle">
      Nous sommes désolé de vous apprendre <br />
      qu'une erreur a eu lieu lors de l'inscription.
    </p>
    <div align="center">
      <a class="btn-back" href="/connect">Réessayer</a>
    </div>
    <img
      src="https://assets.codepen.io/1538474/astronaut.svg"
      class="astronaut"
    />
    <img
      src="https://assets.codepen.io/1538474/spaceship.svg"
      class="spaceship"
    />
  </body>
</html>
