<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>Accueil</title>
</head>
<body>

    <nav class="navbar">
        <div class="logo">
            <img src="../static/images/dg-logo.png" alt="Logo" onclick="goTo('/')">
        </div>
        <div class="menu">
            <div class="menu-option">
                <img src="../static/images/dg-forum.png" alt="Forum" onclick="goTo('/forum')">
            </div>
            <div class="menu-option">
                <img src="../static/images/dg-settings.png" alt="Settings" onclick="goTo('/settings')">
            </div>
            <div class="menu-option">
                <img src="../static/images/dg-connect.png" alt="Connexion" onclick="goTo('/connect')">
            </div>
        </div>
    </nav>



    <div class="body">
        <div class="imgtext">
            <div class="img"><img src="../static/images/452shots_so.png" alt="Logo"></div>
            <div class="text">
                <h1>Date.go</h1>
                <p>Partagez vos idées et vos expériences avec la communauté</p>
            </div>
        </div>

        <div class="imgtext">
            <div class="text">
                <h1>Partagez</h1>
                <p>Chechez dans la barre de recherche les topics que vous pouvez aussi creer avec le logo en bas a droite.</p>
            </div>
            <div class="img"><img src="../static/images/735shots_so.png" alt="Logo"></div>
        </div>

        <div class="imgtext">
            <div class="img"><img src="../static/images/874shots_so.png" alt="Logo"></div>
            <div class="text">
                <h1>Réagissez</h1>
                <p>N'hésitez pas à réagir à un post en cliquant la plume dans la page du topic.</p>
            </div>
        </div>

        <div class="imgtext">
            <div class="text">
                <h1>Profil</h1>
                <p>Consultez votre profil en cliquant sur le logo en bas a gauche.</p>
            </div>
            <div class="img"><img src="../static/images/414shots_so.png" alt="Logo"></div>
        </div>
    </div>



    <script src="../static/js/main.js"></script>
</body>
</html>